@mixin link-default {
  color: $gray-light-1;
  :hover, :focus { color: $gray-light-2; }
}


/*
* Tags HML
*/

a { @include link-default; }

/*
* Navbar Top
*/

.navbar-default {
  background-color: $purple;
  border-bottom: 5px solid $purple-dark2;

  .navbar-header {
    a.navbar-brand {
      font-size: x-large;
      color: white !important;
    }
  }

  .navbar-nav {
    >li, .open {
			>a {
        background-color: $purple !important;
        color: white !important;
        :hover{ color: white !important; }
      }
		}
	}
}


/*
* Footer
*/

.footer {
    padding: rem-calc(50 0 20 0);
    background-color: $purple;
    color: white;
    font-size: rem-calc(12);

    .title {
      text-align: left;
      font-size: rem-calc(18);
    }

    .social-icon {
      padding: 0;
      margin: 0;

      a {
        display: inline-block;
        padding: rem-calc(5);
        color: white;
      }
    }

    .acount-icon a {
      display: block;
      font-size: rem-calc(18);
      padding: rem-calc(5);
      text-decoration: none;
      color: white;
      .fa{ margin-right: 25px; }
    }

    .category a {
      text-decoration: none;
      display: inline-block;
      padding: 5px 20px;
      margin: 1px;
      border-radius:4px;
      margin-top: 6px;
      background-color: black;
      border: solid 1px #fff;
    }

    .payment {
      margin: 0px;
      padding: 0px;
      list-style-type: none;

      li {
        a {
            text-decoration: none;
            display: inline-block;
            float: left;
            padding: 10px 10px;
            color: white;
        }
      }
    }

    .copyright {
      background-color: $purple-dark1;
    }
}
